{% if order.isProductOrder %}
    <h5><strong>Order ID:</strong> #{{ order.id }}</h5>
    <h5><strong>Order Content:</strong></h5>
    {% set orderItems = order.isPaid? order.content : order.loadedContent %}
    {% for orderItemId, orderItem in orderItems %}
        {% if order.isPaid %}
            {% set productTitle = orderItem.title %}
            {% set productOriginalPrice = orderItem.originalPrice %}
            {% set productPrice = orderItem.price %}
        {% else %}
            {% set productTitle = orderItem.product.title %}
            {% set productOriginalPrice = orderItem.product.originalPrice %}
            {% set productPrice = orderItem.product.price %}
        {% endif %}
        <a href="{{ path('saman_shopping_product_display', {'productId': orderItemId}) }}">{{ productTitle }}</a><br>
        {#Item added on: {{ orderItem.date|date(date_format) }}<br>#}
        Qty: {{ orderItem.qty }}<br>
        Price: <br>
        <span class="originalPrice">${{ productOriginalPrice|number_format(2, '.', ',') }}</span><br>
        <span class="price">${{ productPrice|number_format(2, '.', ',') }}</span><br>
        ..................................................<br>
    {% endfor %}
{% elseif order.isCustomOrder %}
    <h5><strong>Order ID:</strong> #{{ order.id }}</h5>
    {% set content = order.content %}
    <h5><strong>Order Content:</strong></h5>
    <ul>
    {% for key, structure in orderConfig.orderStructure %}
        {% if content[key] is defined %}
            <li><strong>{{ ('order.contentItems.' ~ key)|trans }}:</strong> {{ content[key] }}</li>
        {% endif %}
    {% endfor %}
    </ul>

    {% if showImage is not defined or showImage == true %}
        <div class="row margin-top-10">
            <div class="col-md-12">
                {% for image in order.attachments|getMedias %}
                    <a href="{{ asset(image.path|imagine_filter('o')) }}" target="_blank">
                        <img src="{{ asset(image.path|imagine_filter('t')) }}" class="img-thumbnail" />
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endif %}

{% if showTotalPrice is not defined or showTotalPrice == true %}
    <h5><strong>Total Price:</strong> {{ order.totalPrice|localizedcurrency(order.currency) }}</h5>
{% endif %}

{% if showAddress is not defined or showAddress == true %}
    <div class="row margin-top-10">
        <div class="col-md-6">
            {% include '::web/customer/_address.html.twig' with {'address': order.shippingAddress, addressTitle: 'Order shipping address'} only %}
        </div>
        <div class="col-md-6">
            {% include '::web/customer/_address.html.twig' with {'address': order.billingAddress, addressTitle: 'Order billing address'} only %}
        </div>
    </div>
{% endif %}