{% extends "::web/content.html.twig" %}

{% set title = 'My Orders'|trans %}
{% block pageBody %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                {% if order.getActiveProgress is not null %}
                    {% set orderProgress = order.getActiveProgress %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ orderProgress.progress.title }} - Start Date: {{ orderProgress.startDate|date(date_format) }} - Estimated End Date {{ orderProgress.estimatedEndDate|date(date_format) }}</td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="{{ path('saman_shopping_order_display', {'orderId': order.id }) }}">{{ 'order.action.view'|trans }}</a>
                            {% if order.isSubmitted %}
                                <a class="btn btn-primary btn-sm" href="{{ path('saman_shopping_order_set_shipping_address', {'orderId': order.id }) }}">{{ 'order.action.confirm'|trans }}</a> 
                                <a class="btn btn-primary btn-sm" href="{{ path('saman_shopping_order_edit', {'orderId': order.id }) }}">{{ 'order.action.edit'|trans }}</a>
                            {% endif %}    
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>    
    
    <a href="{{ path('saman_shopping_order_add') }}" class="btn btn-primary">{{ 'order.action.makeOrder'|trans }}</a>
{% endblock %}