{% extends "::web/content.html.twig" %}

{% set title = 'My Orders'|trans %}
{% set pageIcon = 'order.icon.myOrders' %}

{% block pageBody %}
    <div class="panel panel-default">
        <div class="panel-body">    
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                        {% if order.getActiveProgress is not null %}
                            {% set orderProgress = order.getActiveProgress %}
                            <tr>
                                <th>#{{ order.id }}</th>
                                <td>
                                    <a href="{{ path('saman_shopping_order_display', {'orderId': order.id }) }}">
                                        {{ orderProgress.progress.title }} - Start Date: {{ orderProgress.startDate|date(date_format) }} - Estimated End Date {{ orderProgress.estimatedEndDate|date(date_format) }}
                                    </a>    
                                </td>
                                <td>
                                    {% if order.isSubmitted %}
                                        <a class="btn btn-primary btn-sm" href="{{ path('saman_shopping_order_set_shipping', {'orderId': order.id }) }}">{{ 'order.icon.confirm'|icon }} <span class="hidden-xs">{{ 'order.action.confirm'|trans }}</span></a> 
                                        <a class="btn btn-primary btn-sm" href="{{ path('saman_shopping_order_edit', {'orderId': order.id }) }}">{{ 'order.icon.edit'|icon }} <span class="hidden-xs">{{ 'order.action.edit'|trans }}</span></a>
                                        <a class="btn btn-primary btn-sm action-delete" href="{{ path('saman_shopping_order_delete', {'orderId': order.id }) }}">{{ 'icon.delete'|icon }} <span class="hidden-xs">{{ 'order.action.delete'|trans }}</span></a>
                                    {% endif %}    
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>    
        </div>
    </div>
        
    <a class="btn btn-primary" href="{{ path('saman_shopping_order_add') }}">{{ 'order.icon.makeOrder'|icon }} {{ 'order.action.makeOrder'|trans }}</a>
{% endblock %}