{% extends "::web/content.html.twig" %}

{% set title = 'Order'|trans %}
{% block pageBody %}
    <strong>{{ 'Order detail'|trans }}</strong><br>
    {% include '::web/order/_order.html.twig' with {'order': order, 'orderConfig': orderConfig, 'noImage': true} only %}
    
    {% if order.isSubmitted == false %}
        <h4>Order Payments</h4>
        {% for payment in order.payments %}
            {{ payment.date|date(date_format) }} - {{ payment.content }}
            ..............................................................................................................................................................<br>
        {% endfor %}
        <br>
        <h4>Order Progress</h4>
        {% for progress in order.progresses %}
            {{ progress.progress.title }} - Start Date: {{ progress.startDate|date(date_format) }} - Estimated End Date {{ progress.estimatedEndDate|date(date_format) }} - Status: {{ progress.status }}<br>
            ..............................................................................................................................................................<br>
        {% endfor %}
        <br>
    {% endif %}
    
    {% if order.isSubmitted %}
        <a href="{{ path('saman_shopping_order_set_shipping_address', {'orderId': order.id }) }}" class="btn btn-primary">Confirm</a>
        <a href="{{ path('saman_shopping_order_edit', {'orderId': order.id }) }}" class="btn btn-primary">Edit</a>
    {% endif %}
    <a class="btn btn-primary" href="{{ path('saman_shopping_orders') }}">My Orders</a>
{% endblock %}