{% extends "::web/content.html.twig" %}

{% set title = 'Order'|trans %}
{% block pageBody %}
    <strong>{{ 'Order detail'|trans }}</strong><br>
    {% include '::web/order/_order.html.twig' with {'order': order, 'orderConfig': orderConfig, 'noImage': true} only %}
    
    {% if order.isSubmitted == false %}
        <h4>{{ 'order.payments'|trans }}</h4>
        {% for payment in order.payments %}
            {{ payment.date|date(date_format) }} - {{ payment.content }}
            <hr class="d-divider">
        {% endfor %}
        <br>
        <h4>{{ 'order.progress'|trans }}</h4>
        {% for progress in order.progresses %}
            {{ progress.progress.title }} - Start Date: {{ progress.startDate|date(date_format) }} - Estimated End Date {{ progress.estimatedEndDate|date(date_format) }} - Status: {{ progress.status }}<br>
            <hr class="d-divider">
        {% endfor %}
        <br>
    {% endif %}
    
    {% if order.isSubmitted %}
        <a href="{{ path('saman_shopping_order_set_shipping_address', {'orderId': order.id }) }}" class="btn btn-primary">{{ 'order.icon.confirm'|icon }} {{ 'order.action.confirm'|trans }}</a>
        <a href="{{ path('saman_shopping_order_edit', {'orderId': order.id }) }}" class="btn btn-primary">{{ 'order.icon.edit'|icon }} {{ 'order.action.edit'|trans }}</a>
    {% endif %}
    <a class="btn btn-primary" href="{{ path('saman_shopping_orders') }}">{{ 'order.icon.myOrders'|icon }} {{ 'order.myOrders'|trans }}</a>
{% endblock %}