{% form_theme form '::twig/formRow.html.twig' %}
{% extends "::web/content.html.twig" %}

{% set title = ''|trans %}
{% block pageBody %}
    {% include '::web/order/_order.html.twig' with {'order': order, 'orderConfig': orderConfig, 'noImage': true} only %}
    {% include '::web/order/js/setShippingAddress.js.twig' %}
    
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% set hideNewShipping = false %}
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div id="shipping-container">
                        {% include '::web/user/_address.html.twig' with {'address': primaryShippingAddress} only %}
                    </div>
                    {% if form.setNewShipping is defined %}
                        {{ form_widget(form.setNewShipping) }}
                        {% set hideNewShipping = true %}
                    {% endif %}
                    <div id="shipping-form-container" style="{{ hideNewShipping? 'display: none;' : '' }}">
                        <div class="margin-bottom-10">
                            <strong>{{ shippingTitle|default('Shipping address')|trans }}</strong><br>
                        </div>                    
                        {{ form_row(form.shipping.fullName) }}
                        {{ form_row(form.shipping.firstAddressLine) }}
                        {{ form_row(form.shipping.secondAddressLine) }}
                        {{ form_row(form.shipping.city) }}
                        {{ form_row(form.shipping.state) }}
                        {{ form_row(form.shipping.postCode) }}
                        {{ form_row(form.shipping.country) }}
                        {{ form_row(form.shipping.phoneNumber) }}
                        {% if form.setShippingPrimary is defined %}
                            {{ form_row(form.setShippingPrimary) }}
                        {% endif %}
                        {{ form_row(form.billingSameAsShipping) }}
                    </div>                    
                </div>
                <div id="billing" class="col-md-6">
                    <div id="billing-container">
                        {% include '::web/user/_address.html.twig' with {'address': primaryBillingAddress} only %}
                    </div>
                    {% set hideNewBilling = false %}
                    {% if form.setNewBilling is defined %}
                        {{ form_widget(form.setNewBilling) }}
                        {% set hideNewBilling = true %}
                    {% endif %}
                    <div id="billing-form-container" style="{{ hideNewBilling? 'display: none;' : '' }}">
                        <div class="margin-bottom-10">
                            <strong>{{ billingTitle|default('Billing address')|trans }}</strong><br>
                        </div>
                        {{ form_row(form.billing.fullName) }}
                        {{ form_row(form.billing.firstAddressLine) }}
                        {{ form_row(form.billing.secondAddressLine) }}
                        {{ form_row(form.billing.city) }}
                        {{ form_row(form.billing.state) }}
                        {{ form_row(form.billing.postCode) }}
                        {{ form_row(form.billing.country) }}
                        {{ form_row(form.billing.phoneNumber) }}
                        {% if form.setShippingPrimary is defined %}
                            {{ form_row(form.setBillingPrimary) }}
                        {% endif %}
                    </div>                    
                </div>
            </div>            
        </div>
    </div>
                    
    <p>By click on the Payment button you confirm your product's Shipping and Billing addresses</p>
    {#
    <div class="row margin-top-10">
        <div class="col-md-12">
            <a class="btn btn-primary" href="{{ path('saman_shopping_order_payment', {'orderId': order.id}) }}">Payment</a>     
        </div>
    </div>
    #}
    <button class="form-submit-{{ form.vars.name }} btn btn-primary hidden-xs" type="submit" style="padding-left: 20px; padding-right: 20px;">
        <span class="ladda-label">{{ 'order.icon.payment'|icon }} {{ 'order.action.payment'|trans }}</span>
    </button>            
    <button class="form-submit-{{ form.vars.name }} btn btn-primary btn-block visible-xs" type="submit">
        <span class="ladda-label">{{ 'order.icon.payment'|icon }} {{ 'order.action.payment'|trans }}</span>
    </button>            
    {{ form_end(form) }}
    
    <script type="text/javascript">
        $(document).ready(function(){
            $('.form-submit-{{ form.vars.name }}').click(function(e){
                var button = $(this);
                var form = button.closest('form');
                if (form.isValid()) {
                    button.addClass('disabled btn-loading');
                }
            });
        });
    </script>    
{% endblock %}