Order ID: {{ order.id }}<br>
Order User:<br>
<address>
  <strong>{{ order.user.firstName }} {{ order.user.lastName }}</strong><br>
  <a href="mailto:#">{{ order.user.email }}</a>
</address>

{% for key, event in orderEvents %}
    <blockquote class="mini_quote br-blue">
        {{ event.getTriggerLabel }}<br/>
        Date: {{ event.date|date(date_format) }}<br/>
        User: {{ event.user.email }}<br/>
    </blockquote>
{% endfor %}
