<div class="modal fade" id="order-progress-form-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<strong>Order ID:</strong> {{ order.id }}<br><br>
<strong>Order User</strong><br>
<address>
  <strong>{{ order.user.firstName }} {{ order.user.lastName }}</strong><br>
  <a href="mailto:#">{{ order.user.email }}</a>
</address>

<strong>Order Content</strong><br>
<ul>
{% set content = order.content %}    
{% for key, structure in orderConfig.orderStructure %}
    {% if content[key] is defined %}
        <li>{{ key }}: {{ content[key] }}</li>
    {% endif %}
{% endfor %}
</ul>

<div class="row margin-top-10">
    <div class="col-md-12">
        {% for image in order.attachments|getMedias %}
            <a href="{{ asset(image.path|imagine_filter('o')) }}" target="_blank">
                <img src="{{ asset(image.path|imagine_filter('t')) }}" class="img-thumbnail" />
            </a>
        {% endfor %}
    </div>
</div>

   
<strong>Order Progresses</strong><br>
{% for orderProgress in order.progresses %}
    <blockquote class="mini_quote br-red">
        {% set statusLabel = orderProgress.getStatusLabel %}
        Progress: {{ orderProgress.progress.title }} <span class="{{ statusLabel.class }}">[{{ statusLabel.title }}]</span>

        {{ button(
            'action.edit', 
            {
                url: path('saman_admin_shopping_order_progress_edit', {'orderId': order.id, 'progressId': orderProgress.id}),
                icon: 'icon.edit', 
                toggleModal: 'order-progress-form-container', 
                action: 'action-edit-order-progress',
            }) }}

        {% if orderProgress.isManual %}
            {{ button(
                'action.delete', 
                {
                    url: path('saman_admin_shopping_order_progress_delete', {'progressId': orderProgress.id}),
                    icon: 'icon.delete', 
                    action: 'action-delete-order-progress',
                }) }}
        {% endif %}                    
        <br>
        Start Date: {{ orderProgress.startDate|date(date_format) }}<br>
        Estimated EndDate: {{ orderProgress.estimatedEndDate|date(date_format) }}<br>
        Actual EndDate: {{ orderProgress.actualEndDate|date(date_format) }}<br>
    </blockquote>

    {% if orderProgress.description is not null and orderProgress.description != '' %}
        <blockquote>
          {{ orderProgress.description }}
        </blockquote>                    
    {% endif %}

    {% if loop.last == false %}
        <div class="margin-top-10"></div>
    {% endif %}
{% endfor %}

<div class="row margin-top-10">
    <div class="col-md-12">
            {{ button(
              'Add Progress', 
              {
                  id: 'action-add-order-progress',  
                  type: 'primary',
                  url: path('saman_admin_shopping_order_progress_add', {'orderId': order.id}),
                  icon: 'icon.add', 
                  toggleModal: 'product-form-container', 
                }) }}          
    </div>
</div>    