{% extends "::web/content.html.twig" %}

{% set title = 'customer.profile'|trans %}
{% set pageIcon = 'customer.icon.myProfile' %}

{% block pageBody %}
    <address>
        <h3><strong>{{ user.firstName }} {{ user.lastName }}</strong></h3>
        <a href="mailto:#">{{ user.email }}</a>
    </address>
    
    <div class="row margin-top-10">
        <div class="col-md-6">
            {% include '::web/user/_address.html.twig' with {'address': user.primaryShippingAddress} only %}
        </div>
        <div class="col-md-6">
            {% include '::web/user/_address.html.twig' with {'address': user.primaryBillingAddress} only %}
        </div>
    </div>    
    
    <a href="{{ path('saman_shopping_order_add') }}" class="btn btn-primary">{{ 'order.icon.makeOrder'|icon }} {{ 'order.action.makeOrder'|trans }}</a>
    <a href="{{ path('saman_shopping_orders') }}" class="btn btn-primary">{{ 'order.icon.myOrders'|icon }} {{ 'order.myOrders'|trans }}</a>
{% endblock %}