{% extends "ProductBundle::layout.html.twig" %}

{% block headerContainer %}
    <div class="block" id="headerContainer">
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-6">
                <form>
                    <div class="float-left">
                    {{ button(
                          'action.display', 
                          {
                              url: path('saman_admin_product_add'),
                              icon: 'icon.display', 
                              toggleModal: 'product-view-container', 
                              action: 'action-display-product'
                          }) }}  
                          
                          
                        <button data-url="{{  }}" id="action-add-product" type="button" class="btn btn-primary" data-target="#product-form-container">
                            {{ 'icon.add'|icon }} 
                            <span class="hidden-sm">{{ 'action.addNewItem'|trans }}</span>
                        </button>
                    </div>
                    {% if categories|length > 0 %}
                        <div class="float-left">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Show All
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    {% for category in categories %}
                                        <li><a class="action-filter-progress-order" href="{{ path('saman_admin_product_home', {'categoryId': category.id, 'headless': true}) }}">{{ category.title }}</a></li>
                                    {% endfor %}
                                    <li role="separator" class="divider"></li>
                                    <li><a class="action-filter-progress-order" href="{{ path('saman_admin_product_home', {'headless': true}) }}">Show All</a></li>
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </form>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6">
                <form>
                    <div class="float-right">
                        <label class="sr-only" for="input-search">Amount (in dollars)</label>
                        <div class="input-group">
                            <div class="input-group-addon">{{ 'icon.search'|icon }}</div>
                            <input type="text" class="form-control" id="input-search" placeholder="Search">
                        </div>
                    </div>

                    <div class="float-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ 'icon.setting'|icon }} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('saman_admin_product_configs') }}">{{ 'product.configs'|trans }}</a></li>
                            </ul>
                        </div>                                
                    </div>
                </form>
            </div>
        </div>            
    </div>
{% endblock %}

{% block body %}
    <div class="modal fade" id="product-form-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    <div class="modal fade" id="product-view-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

    <div id="products-list-container">
        {{ productsView|raw }}
    </div>    
{% endblock %}
    
{% block script %}
    {% include 'ProductBundle:Product:js/products.js.twig' %}
{% endblock %}