{% extends "::twig/modal.html.twig" %}

{% set modalTitle = product.title %}
{% set modalLogo = product.logo %}

{% block body %}
    <div class="row">
        <div class="col-md-12"><strong>Title:</strong> {{ product.title }}</div>
    </div>
    <div class="row">
        <div class="col-md-12"><strong>Price:</strong> {{ product.price }}</div>
    </div>    
    <div class="row">
        <div class="col-md-12">{{ product.description|raw }}</div>
    </div>
    
    {% set image = product.image|getMedia %}
    {% if image is not null %}
        <div class="row margin-top-10">
            <div class="col-md-12">
                <a href="{{ asset(image.path|imagine_filter('o')) }}" target="_blank">
                    <img src="{{ asset(image.path|imagine_filter('s')) }}" class="img-thumbnail" />
                </a>
            </div>
        </div>
    {% endif %}
    
    <div class="row margin-top-10">
        <div class="col-md-12">
            {% for image in product.images|getMedias %}
                <a href="{{ asset(image.path|imagine_filter('o')) }}" target="_blank">
                    <img src="{{ asset(image.path|imagine_filter('t')) }}" class="img-thumbnail" />
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}