{% set noLayout = true %}
{% extends "SamanPlayGroundBundle::layout.html.twig" %}

{% block body %}

    <div class="center-block c" style="width: 100px">.col-md-8</div>
    
        <div class="row">
          <div class="col-md-8"><div class="center-block c">.col-md-8</div></div>
          <div class="col-md-4">.col-md-4</div>
        </div>
    
    <img src="{{ 'test/symfony.png'|imagine_filter('origin') }}">
    <h2>Symfony is a set of reusable PHP components...</h2>
    <p>The standard foundation on which the best PHP applications are built. Choose any of the 29 stand-alone components available for your own applications. </p>
    
    <h2>PHP framework...</h2>
    <p>Speed up the creation and maintenance of your PHP web applications. End repetitive coding tasks and enjoy the power of controlling your code. </p>

    
    
        <!-- Make sure the path to CKEditor is correct. -->
            <textarea name="editor1" id="editor1" rows="10" cols="80">
                This is my textarea to be replaced with CKEditor.
            </textarea>
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                //CKEDITOR_BASEPATH = '/js/ckeditor/';
                CKEDITOR.replace('editor1');
            </script>
        </form>
        
    
    
    <h3><span class="fa fa-quote-left fa-3x pull-left fa-border"></span></h3>
   
    
    <i class="fa fa-spinner fa-spin"></i>
    <i class="fa fa-circle-o-notch fa-spin"></i>
    <i class="fa fa-refresh fa-spin"></i>
    <i class="fa fa-cog fa-spin"></i>
    <i class="fa fa-spinner fa-pulse"></i>
        
    {#
 {% set css = {
    'xxs': {'size': 55,  'border': 3, 'text': {'line_height': 50,  'font_size': 12}, 'icon':{'line_height': 55,  'font_size': 25}},
    'xs':  {'size': 70,  'border': 3, 'text': {'line_height': 70,  'font_size': 15}, 'icon':{'line_height': 74,  'font_size': 34}},
    's':   {'size': 85,  'border': 4, 'text': {'line_height': 79,  'font_size': 19}, 'icon':{'line_height': 87,  'font_size': 40}},
    'm':   {'size': 100, 'border': 4, 'text': {'line_height': 90,  'font_size': 23}, 'icon':{'line_height': 105, 'font_size': 50}},
    'l':   {'size': 115, 'border': 4, 'text': {'line_height': 108, 'font_size': 28}, 'icon':{'line_height': 119, 'font_size': 60}},
    'xl':  {'size': 130, 'border': 4, 'text': {'line_height': 120, 'font_size': 32}, 'icon':{'line_height': 140, 'font_size': 70}},
    'xxl': {'size': 145, 'border': 4, 'text': {'line_height': 140, 'font_size': 35}, 'icon':{'line_height': 155, 'font_size': 75}}
    }
 %}
        
 {% set size = 'xxs' %}
 
 
 
    <div class="row">
        <div class="col-md-4"><a href="#" class="stylish-xxs-t">Saman</a></div>
        <div class="col-md-4"><a href="#" class="stylish-xs-t">Saman</a></div>
        <div class="col-md-4"><a href="#" class="stylish-s-t">Saman</a></div>
    </div>
        <br>
    <div class="row">
        <div class="col-md-4"><a href="#" class="stylish-xxs">{{ 'icon.addWidget'|icon }}</a></div>
        <div class="col-md-4"><a href="#" class="stylish-xs">{{ 'icon.addWidget'|icon }}</a></div>
        <div class="col-md-4"><a href="#" class="stylish-s">{{ 'icon.addWidget'|icon }}</a></div>
    </div>
        
    <div class="row">
        <div class="col-md-4"><a href="#" class="stylish-t">Saman</a></div>
        <div class="col-md-4"><a href="#" class="stylish-l-t">Saman</a></div>
        <div class="col-md-4"><a href="#" class="stylish-xl-t">Saman</a></div>
    </div>
        <br>
    <div class="row">
        <div class="col-md-4"><a href="#" class="stylish">{{ 'icon.addWidget'|icon }}</a></div>
        <div class="col-md-4"><a href="#" class="stylish-l">{{ 'icon.addWidget'|icon }}</a></div>
        <div class="col-md-4"><a href="#" class="stylish-xl">{{ 'icon.addWidget'|icon }}</a></div>
    </div>
        
    <div class="row">
        <div class="col-md-4"><a href="#" class="stylish-xxl-t">Saman</a></div>
    </div>
        <br>
        <br>
    <div class="row">
        <div class="col-md-4"><a href="#" class="stylish-xxl">{{ 'icon.addWidget'|icon }}</a></div>
    </div>
        
        <br>        
    <div class="row">
        <div class="col-md-4">
            <a href="#" class="stylish">{{ 'icon.addWidget'|icon }}</a>
        </div>
        <div class="col-md-4"><a href="#" class="menu">{{ 'icon.addWidget'|icon }}</a></div>
        <div class="col-md-4"><a href="#" class="menu-text">Hello</a></div>
    </div>

    <style>
                
        .stylish-xxs-t {
            display:block;
            width:55px;
            height:55px;
            line-height:50px;
            border-radius:50%;
            border:3px solid #ccc;
            font-size:12px;
            color:#666;
            text-align:center;
            text-decoration:none;
            background:#ddd
        }           
        .stylish-xxs {
            display:block;
            width:55px;
            height:55px;
            line-height:55px;
            border-radius:50%;
            border:3px solid #ccc;
            font-size:25px;
            color:#666;
            text-align:center;
            text-decoration:none;
            background:#ddd
        }        
        
        .stylish-xs-t {
            display:block;
            width:70px;
            height:70px;
            line-height:65px;
            border-radius:50%;
            border:3px solid #ccc;
            font-size:15px;
            color:#666;
            text-align:center;
            text-decoration:none;
            background:#ddd
        }           
        .stylish-xs {
            display:block;
            width:70px;
            height:70px;
            line-height:74px;
            border-radius:50%;
            border:3px solid #ccc;
            font-size:34px;
            color:#666;
            text-align:center;
            text-decoration:none;
            background:#ddd
        } 
        .stylish-s-t {
            display:block;
            width:85px;
            height:85px;
            line-height:79px;
            border-radius:50%;
            border:4px solid #ccc;
            font-size:19px;
            color:#666;
            text-align:center;
            text-decoration:none;
            background:#ddd
        }
                
        .stylish-s {
            display:block;
            width:85px;
            height:85px;
            line-height:87px;
            border-radius:50%;
            border:4px solid #ccc;
            font-size:40px;
            color:#666;
            text-align:center;
            text-decoration:none;
            background:#ddd
        }
        
        .stylish:hover {
            border:4px solid #bbb;
            color:#666;
            text-decoration:none;
            background:#e6e6e6
        }
        
        .stylish-t {
            display:block;
            width:100px;
            height:100px;
            line-height:90px;
            border-radius:50%;
            border:4px solid #ccc;
            font-size:23px;
            color:#666;
            text-align:center;
            text-decoration:none;
            background:#ddd
        }
                
        .stylish {
            display:block;
            width:100px;
            height:100px;
            line-height:105px;
            border-radius:50%;
            border:4px solid #ccc;
            font-size:50px;
            color:#666;
            text-align:center;
            text-decoration:none;
            background:#ddd
        }        
        

        .stylish-l-t {
            display:block;
            width:115px;
            height:115px;
            line-height:108px;
            border-radius:50%;
            border:4px solid #ccc;
            font-size:28px;
            color:#666;
            text-align:center;
            text-decoration:none;
            background:#ddd
        }
                
        .stylish-l {
            display:block;
            width:115px;
            height:115px;
            line-height:119px;
            border-radius:50%;
            border:4px solid #ccc;
            font-size:60px;
            color:#666;
            text-align:center;
            text-decoration:none;
            background:#ddd
        }        
        

        .stylish-xl-t {
            display:block;
            width:130px;
            height:130px;
            line-height:120px;
            border-radius:50%;
            border:4px solid #ccc;
            font-size:32px;
            color:#666;
            text-align:center;
            text-decoration:none;
            background:#ddd
        }
                
        .stylish-xl {
            display:block;
            width:130px;
            height:130px;
            line-height:140px;
            border-radius:50%;
            border:4px solid #ccc;
            font-size:70px;
            color:#666;
            text-align:center;
            text-decoration:none;
            background:#ddd
        }                 
        
        
        .stylish-xxl-t {
            display:block;
            width:145px;
            height:145px;
            line-height:140px;
            border-radius:50%;
            border:4px solid #ccc;
            font-size:35px;
            color:#666;
            text-align:center;
            text-decoration:none;
            background:#ddd
        }
                
        .stylish-xxl {
            display:block;
            width:145px;
            height:145px;
            line-height:155px;
            border-radius:50%;
            border:4px solid #ccc;
            font-size:75px;
            color:#666;
            text-align:center;
            text-decoration:none;
            background:#ddd
        }                 
        
        
        .menu {
            display:block;
            width:100px;
            height:100px;
            line-height:105px;
            border-radius:50%;
            border:4px solid #000;
            font-size:50px;
            color:#fff;
            text-align:center;
            text-decoration:none;
            background:#000
        }
        
        .menu:hover {
            color:#ccc;
            text-decoration:none;
            background:#333
        }
       
    </style>
    #}
    
    <h3>Learn Symfony</h3>
    <p>Hundreds of carefully written documentation pages covering all Symfony features exist and they are FREE and open-source licensed! The Symfony Book</p>
    The comprehensive guide to learn and master the Symfony full-stack framework. Start reading
    Additional resources
    <ul>
        <li>The Quick Tour tutorial</li>
        <li>Cookbook tutorials</li>
        <li>Components reference</li>
    </ul>
    
    
    {#
    <div class="input-group demo2">
        <input type="text" value="" class="form-control" />
        <span class="input-group-addon"><i></i></span>
    </div>
    <script>
        $(function(){
            $('.demo2').colorpicker();
        });
    </script>    
    
    <div class="row d-breadcrumb">
        <div class="col-md-12">
            <div class="form-inline d-margin-bottom-10">
                <div class="form-group">
                <select class="js-example-basic-single form-control" placeholder="Search for...">
                    <option value="AL">Alabama Alabama Alabama</option>
                    <option value="GL">Gaabama</option>
                    <option value="WY">Wyoming</option>
                </select>      
                </div>    
                <button class="btn btn-default" type="button">{{ 'icon.add'|icon }} Add</button>
            </div>
            <div>
                <h4 class="d-text-muted-4">{{ 'icon.automatic'|icon }} Automatic breadcrumb</h4>
            </div>
            <div>
                <ol class="breadcrumb d-sortable">
                    <li id="1"><a href="#">Home Home Home</a><button type="button" class="close" aria-label="Close" style="margin-top: -3px; margin-left: 4px"><span aria-hidden="true">&times;</span></button></li>
                    <li id="2"><a href="#">Library Library Library</a><button type="button" class="close" aria-label="Close" style="margin-top: -3px; margin-left: 4px"><span aria-hidden="true">&times;</span></button></li>
                    <li id="3"><a href="#">Alabama Gaabama</a><button type="button" class="close" aria-label="Close" style="margin-top: -3px; margin-left: 4px"><span aria-hidden="true">&times;</span></button></li>
                    <li id="4"><a href="#">Wyoming Gaabama</a><button type="button" class="close" aria-label="Close" style="margin-top: -3px; margin-left: 4px"><span aria-hidden="true">&times;</span></button></li>
                    <li id="5">Data<button type="button" class="close" aria-label="Close" style="margin-top: -3px; margin-left: 4px"><span aria-hidden="true">&times;</span></button></li>
                </ol>
            </div>
        </div>
    </div>

    <script>
        $(function() {
            sortAble($('.d-sortable'));
            $(".js-example-basic-single").select2();
       });
    </script>  
    #}
    
    {#
    Hello {{ name }}!
    <input checked data-toggle="toggle" type="checkbox">
    <br><br><br>
    #}
    {#
    {% include 'SamanPlayGroundBundle:Default:form/sampleForm.html.twig' %}
    #}
{% endblock %}