{% import _self as self %}

{% if noLayout is not defined or noLayout == false %}
{% spaceless %}
    <ul id="sidebar" class="nav nav-pills nav-stacked">
        <li class="{{ self.isActive('saman_cms_admin_page_home') }}"><a href="{{ path('saman_cms_admin_page_home') }}">{{ 'icon.module.cms'|icon }} {{ 'module.cms.title'|trans }}</a></li>
    </ul>
{% endspaceless %}            
{% endif %}
        
{% macro isActive(rout) %}
    {% set currentRout = app.request.attributes.get('_route') %}
    {{ (currentRout == rout)? 'active' : '' }}
{% endmacro %}
