{% import _self as self %}

{% if noLayout is not defined or noLayout == false %}
    {% spaceless %}
        <ul id="sidebar" class="nav nav-pills nav-stacked">
            {% for module, url in saman_app_modules %}
                <li class="{{ self.isActive(url) }}"><a href="{{ path(url) }}">{{ ('module.' ~ module ~ '.icon')|icon }} {{ ('module.' ~ module ~ '.title')|trans }}</a></li>
            {% endfor %}
        </ul>
    {% endspaceless %}            
{% endif %}
        
{% macro isActive(rout) %}
    {% set currentRout = app.request.attributes.get('_route') %}
    {{ (currentRout == rout)? 'active' : '' }}
{% endmacro %}
