{% use "::base_body.html.twig" %}
<!DOCTYPE html>
<html class="ng-scope" ng-app="myApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}{% endblock %}</title>
        {% include "::_asset.html.twig" %}
        {% block htmlHeader %}{% endblock %}
    </head>
    <body>
        <div class="container">
            {% include '::web/_navbar.html.twig' %}
            <div class="row margin-top-20">
                <div class="col-sm-3">
                    <div class="list-group">
                        <a class="list-group-item" href="{{ path('saman_pg_index') }}">{{ 'module.playground.icon'|icon }} Playground</a>
                        <a class="list-group-item" href="{{ path('saman_pg_ui') }}">{{ 'module.playground.icon'|icon }} Ui</a>
                        <a class="list-group-item" href="{{ path('saman_pg_widget_display_widget_types') }}">Widgets</a>
                        <a class="list-group-item" href="{{ path('saman_pg_mongo_index') }}">Mongo DB</a>
                        <a class="list-group-item" href="{{ path('saman_pg_security') }}">Security</a>
                    </div>                    
                </div>  
                <div class="col-sm-9">
                    <div id="flashBag-container" data-url="{{ path('saman_app_display_flash_bag') }}"></div>
                    {% block header %}{% endblock %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% block body %}{% endblock %}
                        </div> 
                    </div>
                </div> 
            </div>
        </div>
        {% block script %}{% endblock %}    
    </body>
</html>