{% extends "::twig/form.html.twig" %}

{% block body %}
    {{ form_errors(form) }}
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" {{ isLinkPage? 'class="active"' : '' }}><a href="#pageLinkTab" aria-controls="home" role="tab" data-toggle="tab">{{ 'module.appearance.navigation.pageLink'|trans }}</a></li>
            <li role="presentation" {{ isLinkPage != true? 'class="active"' : '' }}><a href="#urlLinkTab" aria-controls="profile" role="tab" data-toggle="tab">{{ 'module.appearance.navigation.urlLink'|trans }}</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane {{ isLinkPage? 'active' : '' }}" id="pageLinkTab">
                <div class="d-margin-top-10">
                    {{ form_row(form.page, {'attr': {'class': 'form-control form-control-select2'}}) }}
                </div>    
            </div>
            <div role="tabpanel" class="tab-pane {{ isLinkPage != true? 'active' : '' }}" id="urlLinkTab">
                <div class="d-margin-top-10">
                    {{ form_row(form.url, {'attr': {'class': form.vars.value.url|clearable }}) }}
                </div>    
            </div>
        </div>
    </div>
                
    {{ form_row(form.icon) }}
    {{ form_row(form.title) }}
    {{ form_row(form.hint) }}
{% endblock %}