{% extends "::twig/form.html.twig" %}

{% block body %}
    {% set columnsDefultSettings = theme.getDefultParameter('columns') %}
    {{ form_errors(form) }}
    {{ form_row(form.rowSettings) }}
    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% set i = 1 %}
        {% for key, column in row.columns %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading{{ key }}">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ key }}" aria-expanded="{{ i == 1? 'true' : 'false' }}" aria-controls="collapse{{ key }}">
                            {{ 'word.columnNumber'|trans({'%number%': i})}}
                        </a>
                    </h4>
                </div>
                <div id="collapse{{ key }}" class="panel-collapse collapse {{ i == 1? 'in' : '' }}" role="tabpanel" aria-labelledby="heading{{ key }}">
                    <div class="panel-body">
                        {{ form_row(form[key])}}
                    </div>
                </div>
            </div>
            {% set i = i + 1 %}
        {% endfor %}
    </div>    
    
{% endblock %}