{% extends "ProductBundle::layout.html.twig" %}

{% block header %}
{% endblock %}

{% block body %}

    <div class="modal fade" id="order-form-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    <div class="modal fade" id="order-view-container" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for order in ordersPagination %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user.email }}</td>
                <td>
                    <div class="pull-right">
                        {{ button(
                              'action.display', 
                              {
                                  url: path('saman_admin_order_display', {'orderId': order.id}),
                                  icon: 'icon.display', 
                                  toggleModal: 'order-view-container', 
                                  action: 'action-display-item'
                              }) }}                        
                        {{ button(
                            'action.delete', 
                            {
                                url: path('saman_admin_order_delete', {'orderId': order.id }),
                                icon: 'icon.delete', 
                                action: 'action-delete-order',
                            }) }}
                    </div>  
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>    
    
    <div class="navigation margin-top-20">
        {{ knp_pagination_render(ordersPagination) }}
    </div>

{% endblock %}
    
{% block script %}
    {% include 'ProductBundle:Product:js/orders.js.twig' %}
{% endblock %}