{% extends "::base_body.html.twig" %}

{% set twig_form_link_cont = 'links-form-container' %}

{% block breadcrumb %}
    {{ breadcrumb([
            {
              action: 'action-back',
              icon: 'icon.module.navigation', 
              text: 'module.navigation.title', 
            },
            {
              icon: 'icon.module.navigation', 
              text: navigation.title, 
            }
          ]) }}
{% endblock %}

{% block body %}
    <div class="modal fade" id="{{ twig_form_link_cont }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

    <div class="row">
        <div class="col-md-9 col-xs-6 col-sm-7 d-title">{{ navigation.title }}</div>
        <div class="col-md-3 col-xs-6 col-sm-5">
            <div class="pull-right">
            {{ button(
                'Publish navigation', 
                {
                    url: path('saman_appearance_admin_navigation_publish', {'navigationId': navigation.id}),
                    type: 'primary',
                    icon: 'icon.publish', 
                    size: '3',  
                    class: 'd-margin-bottom-5 d-margin-top-5',
                    action: 'action-publish-navigation'
                }) }}
            </div>    
        </div>
    </div>    
    
    <div class="row">
        <div class="col-md-12 d-description">{{ navigation.description }}</div>
    </div>
        
    <div>{{ linksView|raw }}</div>    
{% endblock %}

{% block footer %}{% endblock %}
