{% extends "SamanAppearanceBundle::layout.html.twig" %}

{% set twig_url_theme_add = path('saman_appearance_admin_theme_add') %}
{% set twig_url_themes = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'headless': true})) %}
{# First form for adding new theme #}
{% set twig_form_theme_name = 'saman_appearance_theme_form' %}
{# Second form for edditing theme settings #}
{% set twig_form_theme_cont = 'themes-form-container' %}
{% set twig_cont_page = 'page-container' %}
{% set twig_cont_themes = 'themes-list-container' %}
{% set twig_cont_theme = 'theme-view-container' %}

{% block header %}
    <button data-url="{{ twig_url_theme_add }}" type="button" class="btn btn-primary btn-sm action-add-theme" data-toggle="modal" data-target="#{{ twig_form_theme_cont }}">{{ 'icon.add'|icon }}  {{ 'action.addNewItem'|trans }}</button>
{% endblock %}

{% block body %}
    <div class="modal fade" id="{{ twig_form_theme_cont }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    <div class="modal fade" id="{{ twig_cont_theme }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

    <div id="{{ twig_cont_themes }}">
        {{ themesView|raw }}
    </div>
{% endblock %}

{% block footer %}{% endblock %}
    
{% block script %}
    {% include 'SamanAppearanceBundle:Theme:js/index.html.twig' %}
{% endblock %}