{% extends "::web/twig/form.html.twig" %}

{% block body %}
    {{ form_errors(form) }}
    {% if form.setNewShipping is defined %}
        {{ form_row(form.setNewShipping) }}
    {% endif %}
    
    {{ form_row(form.shipping.fullName) }}
    {{ form_row(form.shipping.firstAddressLine) }}
    {{ form_row(form.shipping.secondAddressLine) }}
    {{ form_row(form.shipping.city) }}
    {{ form_row(form.shipping.state) }}
    {{ form_row(form.shipping.postCode) }}
    {{ form_row(form.shipping.country) }}
    {{ form_row(form.shipping.phoneNumber) }}
    {% if form.setShippingPrimary is defined %}
        {{ form_row(form.setShippingPrimary) }}
    {% endif %}
    {{ form_row(form.billingSameAsShipping) }}
    
    {% if form.setNewBilling is defined %}
        {{ form_row(form.setNewBilling) }}
    {% endif %}
    <div>
    {{ form_row(form.billing.fullName) }}
    {{ form_row(form.billing.firstAddressLine) }}
    {{ form_row(form.billing.secondAddressLine) }}
    {{ form_row(form.billing.city) }}
    {{ form_row(form.billing.state) }}
    {{ form_row(form.billing.postCode) }}
    {{ form_row(form.billing.country) }}
    {{ form_row(form.billing.phoneNumber) }}
    {% if form.setShippingPrimary is defined %}
        {{ form_row(form.setBillingPrimary) }}
    {% endif %}
    </div>
{% endblock %}