{% extends "::web/content.html.twig" %}

{% set title = 'Gallery'|trans %}
{% set pageIcon = 'order.icon.myOrders' %}

{% block pageBody %}
    <div class="row">
        <div class="col-md-12" id="products-container">
            {% for product in productsPagination %}
                {% set viewProductUrl = path('saman_shopping_product_display', {'productId': product.id}) %}
                <div class="view-product">
                    <div class="view-product-image">
                        {% set image = product.image|getMedia %}
                        {% if image is not null %}
                            {#<a href="{{ asset(image.path|imagine_filter('o')) }}" target="_blank">#}
                            <a href="{{ viewProductUrl }}">
                                <img src="{{ asset(image.path|imagine_filter('si')) }}" class="img-thumbnail" />
                            </a>
                        {% endif %}
                    </div>

                    <div class="view-product-price">
                        <span class="originalPrice">{{ product.originalPrice|localizedcurrency('USD') }}</span>
                        <span class="price">{{ product.price|localizedcurrency('USD') }}</span>
                    </div>        

                    <div class="view-product-title">
                        <a href="{{ viewProductUrl }}">{{ product.title }}</a><br>
                        {% set isOrdered = (product.id in shoppingCartProductIds) %}

                        <span id="button-add-cart-{{ product.id }}" {{ isOrdered? 'style="display: none;"' : '' }}>
                            <button type="button" data-activate-target="#button-remove-cart-{{ product.id }}" class="btn btn-default action-product-add-to-cart" data-url="{{ path('saman_shopping_modify_shopping_cart', {'action': 'add', 'productId': product.id}) }}">
                                {{ 'shopping.action.addToCart'|trans }}
                            </button>
                        </span>
                        <span id="button-remove-cart-{{ product.id }}" {{ isOrdered? '' : 'style="display: none;"' }}>
                            <button type="button" data-activate-target="#button-add-cart-{{ product.id }}" class="btn btn-default action-product-remove-from-cart" data-url="{{ path('saman_shopping_modify_shopping_cart', {'action': 'remove', 'productId': product.id}) }}">
                                {{ 'shopping.action.removeFromCart'|trans }}
                            </button>
                        </span>                
                    </div>        
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="navigation margin-top-20">
        {{ knp_pagination_render(productsPagination) }}
    </div>  
{% endblock %}

{% block script %}
    {% include '::web/product/js/products.js.twig' %}
    {% include '::web/product/js/shoppingCart.js.twig' %}
{% endblock %}