{% form_theme form '::twig/formRow.html.twig' %}

<div class="row">
    <div class="col-md-{{ form_col_md|default(8) }} col-sm-{{ form_col_sm|default(9) }} col-xs-{{ form_col_xs|default(12) }} form-panel">
        {% if noFormInfo is not defined %}
            {% set formName = form.vars.full_name %}
            {% set forTitle = 'form.' ~ formName ~ '.title' %}
            {% set forLogo = 'form.' ~ formName ~ '.icon' %}
            {% set forDescription = 'form.' ~ formName ~ '.description' %}
        {% endif %}

        {% for type, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                {{ flash|showAlert(type) }}
            {% endfor %}
        {% endfor %}
        <div class="form-message"></div>

        {% if forTitle is defined %}
            <h4 class="modal-title" id="myModalLabel">
                {% if forLogo is defined %}
                    {{ forLogo|icon }}
                {% endif %}
                {{ forTitle|trans }}
            </h4>
        {% endif %}


        {{ form_start(form) }}
            {% if forDescription is defined %}
                {% set forDescription = forDescription|trans %}
                {% if forDescription != '' %}
                    {{ forDescription }}<br><br>
                {% endif %}
            {% endif %}
            {% block body %}{% endblock %}
            
            
            {% set submitButtonIconContent = "" %}
            {% if submitButtonIcon is defined %}
                {% set submitButtonIconContent = '<span class="margin-right-5">' ~ submitButtonIcon|icon ~ '</span>' %}
            {% endif %} 
            
            {% set submitButton = (submitButton|default('action.save'))|trans %}
            {#<button id="form-submit-{{ form.vars.name }}" class="btn btn-primary ladda-button" type="submit" data-style="expand-left">#}
            <button {% if submitButtonLoading is defined %}data-loading-text="{{ submitButtonIconContent }}{{ submitButtonLoading|trans }}"{% endif %} class="btn btn-primary hidden-xs form-submit-{{ form.vars.name }}" type="submit">
                <span class="ladda-label">
                    {{ submitButtonIconContent|raw }}{{ submitButton }}
                </span>
            </button>
            <button {% if submitButtonLoading is defined %}data-loading-text="{{ submitButtonIconContent }}{{ submitButtonLoading|trans }}"{% endif %} class="btn btn-primary btn-block visible-xs form-submit-{{ form.vars.name }}" type="submit">
                <span class="ladda-label">
                    {{ submitButtonIconContent|raw }}{{ submitButton }}
                </span>
            </button>
        {{ form_end(form) }}
    </div>
</div>

{% block formScript %}{% endblock %}

<script type="text/javascript">
    $(document).ready(function(){
        $('.form-control-select2').select2();
        //Ladda.stopAll();
        $('.form-submit-{{ form.vars.name }}').click(function(e){
            //e.preventDefault();
            var button = $(this);
            var form = button.closest('form');
            if (form.isValid()) {
                button.addClass('disabled btn-loading');
            }
            {#
            if (!form.isValid()) {
                Ladda.stopAll();
            } else {
                var ladda = Ladda.create(this);
                ladda.start();
                
            }
            #}
	});        
    });
</script>