{% form_theme form '::twig/formRow.html.twig' %}

{% if noFormInfo is not defined %}
    {% set formName = form.vars.full_name %}
    {% set forTitle = 'form.' ~ formName ~ '.title' %}
    {% set forLogo = 'form.' ~ formName ~ '.icon' %}
    {% set forDescription = 'form.' ~ formName ~ '.description' %}
{% endif %}

{% set isModal = isModalDialogForm|default(false) %}

{% if isModal %}
    <div class="modal-dialog">
        <div class="modal-content">
{% else %}
    <div class="row">
        <div class="col-md-{{ form_col_md|default(8) }} col-sm-{{ form_col_sm|default(9) }} col-xs-{{ form_col_xs|default(12) }} form-panel">
{% endif %}

        {% for type, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                {{ flash|showAlert(type) }}
            {% endfor %}
        {% endfor %}
        <div class="form-message"></div>

        {% if forTitle is defined %}
            {% if isModal %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">{{ 'action.close'|trans }}</span>
                    </button>
                    {% if forTitle is defined %}
                        <h4 class="modal-title" id="myModalLabel">
                            {% if forLogo is defined %}
                                {{ forLogo|icon }}
                            {% endif %}
                            {{ forTitle|trans }}
                        </h4>
                    {% endif %}
                </div>                
            {% else %}
                <h4 class="modal-title">
                    {% if forLogo is defined %}
                        {{ forLogo|icon }}
                    {% endif %}
                    {{ forTitle|trans }}
                </h4>
            {% endif %}
        {% endif %}


        {{ form_start(form) }}
            {% if isModal %}
                <div class="modal-body">
            {% endif %}
            
            {% if forDescription is defined %}
                {% set forDescription = forDescription|trans %}
                {% if forDescription != '' %}
                    {{ forDescription }}<br><br>
                {% endif %}
            {% endif %}
            {% block body %}{% endblock %}
            
            {% if isModal %}
                </div>
                <div class="modal-footer">
            {% endif %}
            
            {% set submitButtonIconContent = "" %}
            {% if submitButtonIcon is defined %}
                {% set submitButtonIconContent = '<span class="margin-right-5">' ~ submitButtonIcon|icon ~ '</span>' %}
            {% endif %} 
            
            {% set submitButton = (submitButton|default('action.save'))|trans %}
            
            {% if isModal %}
                <button {% if submitButtonLoading is defined %}data-loading-text="{{ submitButtonIconContent }}{{ submitButtonLoading|trans }}"{% endif %} class="btn btn-primary btn-modal form-submit-{{ form.vars.name }}" type="submit">
                    <span class="ladda-label">
                        {{ submitButtonIconContent|raw }}{{ submitButton }}
                    </span>
                </button>
                <button class="btn btn-primary btn-modal" style type="button" data-dismiss="modal"><span class="ladda-label">{{ 'action.close'|trans }}</span></button>
            {% else %}
                {#<button id="form-submit-{{ form.vars.name }}" class="btn btn-primary ladda-button" type="submit" data-style="expand-left">#}
                <button {% if submitButtonLoading is defined %}data-loading-text="{{ submitButtonIconContent }}{{ submitButtonLoading|trans }}"{% endif %} class="btn btn-primary hidden-xs form-submit-{{ form.vars.name }}" type="submit">
                    <span class="ladda-label">
                        {{ submitButtonIconContent|raw }}{{ submitButton }}
                    </span>
                </button>
                <button {% if submitButtonLoading is defined %}data-loading-text="{{ submitButtonIconContent }}{{ submitButtonLoading|trans }}"{% endif %} class="btn btn-primary btn-block visible-xs form-submit-{{ form.vars.name }}" type="submit">
                    <span class="ladda-label">
                        {{ submitButtonIconContent|raw }}{{ submitButton }}
                    </span>
                </button>
            {% endif %}
            {% if isModal %}
                </div>
            {% endif %}
        {{ form_end(form) }}
    </div>
</div>

{% block formScript %}{% endblock %}

<script type="text/javascript">
    $(document).ready(function(){
        $('.form-control-select2').select2();
        //Ladda.stopAll();
        $('.form-submit-{{ form.vars.name }}').click(function(e){
            //e.preventDefault();
            var button = $(this);
            var form = button.closest('form');
            if (form.isValid()) {
                button.addClass('disabled btn-loading');
            }
            {#
            if (!form.isValid()) {
                Ladda.stopAll();
            } else {
                var ladda = Ladda.create(this);
                ladda.start();
                
            }
            #}
	});        
    });
</script>