{% form_theme form '::twig/formRow.html.twig' %}

{% if noFormInfo is not defined %}
    {% set formName = form.vars.full_name %}
    {% set forTitle = 'form.' ~ formName ~ '.title' %}
    {% set forLogo = 'form.' ~ formName ~ '.icon' %}
    {% set forDescription = 'form.' ~ formName ~ '.description' %}
{% endif %}

{% for type, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        {{ flash|showAlert(type) }}
    {% endfor %}
{% endfor %}
<div class="form-message"></div>

{% if forTitle is defined %}
    <h4 class="modal-title" id="myModalLabel">
        {% if forLogo is defined %}
            {{ forLogo|icon }}
        {% endif %}
        {{ forTitle|trans }}
    </h4>
{% endif %}


{{ form_start(form) }}
    {% if forDescription is defined %}
        {{ forDescription|trans }}<br><br>
    {% endif %}
    {% block body %}{% endblock %}

    <div class="modal-footer">
        <button id="form-submit-{{ form.vars.name }}" class="btn btn-primary ladda-button" type="submit" data-style="expand-left"><span class="ladda-label">{{ 'action.save'|trans }}</span></button>            
    </div>
{{ form_end(form) }}

{% block formScript %}{% endblock %}

<script type="text/javascript">
    $(document).ready(function(){
        $('.form-control-select2').select2();
        
        $('#form-submit-{{ form.vars.name }}').click(function(e){
            var form = $(this).closest('form');
            if (form.isValid()) {
                var ladda = Ladda.create(this);
                ladda.start();
            }
	});        
    });
</script>