{% spaceless %}
{% for link in navigation.links %}
    {% if link.page is defined and link.page is not null %}
        {% set url = url('saman_cms_page', {'pageUrl': link.page.url }) %}
    {% else %}
        {% set url = link.url|default('#') %}
    {% endif %}    
    <a href="{{ url }}" class="d-left-20 css-widget-{{ widget.id }}" title="{{ link.hint }}">{{ (link.icon is not null? '<span class="' ~ link.icon ~ '"></span>' : '')|raw }} {{ link.title }}</a>
{% endfor %}
{% endspaceless %}