{% spaceless %}

{% set navbarType = (widget.settings.navbarType is defined and widget.settings.navbarType == 'inverse')? 'navbar-inverse' : 'navbar-default' %}
<nav class="navbar {{ navbarType }}">
    <div class="container-fluid">
        {# Brand and toggle get grouped for better mobile display #}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-{{ widget.id }}">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if widget.settings.brandTitle is defined and widget.settings.brandTitle != '' %}    
                {% set barndUrl = (widget.settings.brandUrl is defined and widget.settings.brandUrl != '')? widget.settings.brandUrl : '#' %}
                {% set brandIcon = ((widget.settings.brandIcon is defined and widget.settings.brandIcon != '')? '<span class="' ~ widget.settings.brandIcon ~ '"></span> ' : '')|raw %}
                <a class="navbar-brand" href="{{ barndUrl }}">{{ brandIcon|raw }} {{ widget.settings.brandTitle }}</a>
            {% endif %}
        </div>

        {# Collect the nav links, forms, and other content for toggling #}
        <div class="collapse navbar-collapse" id="navbar-collapse-{{ widget.id }}">
            <ul class="nav navbar-nav">
                {% for link in navigation.links %}
                    {% if link.page is defined and link.page is not null %}
                        {% set url = url('saman_cms_page', {'pageUrl': link.page.url }) %}
                    {% else %}
                        {% set url = link.url|default('#') %}
                    {% endif %}    
                    <li>
                        <a href="{{ url }}" title="{{ link.hint }}">{{ (link.icon is not null? '<span class="' ~ link.icon ~ '"></span>' : '')|raw }} {{ link.title }}</a>
                    </li>
                {% endfor %}
                {#
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                #}
                {#
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                #}
            </ul>
        </div>{# /.navbar-collapse #}
    </div>{# /.container-fluid #}
</nav>
{% endspaceless %}