{% extends "::twig/form.html.twig" %}

{% block body %}
    <ul class="nav nav-tabs margin-bottom-20" role="tablist">
        <li role="presentation" class="active"><a href="#productGeneralInfoTab" aria-controls="productGeneralInfoTab" role="tab" data-toggle="tab">{{ 'product.addProduct.productGeneralInfoTab'|trans }}</a></li>
       <li role="presentation"><a href="#productSpecificationsTab" aria-controls="productSpecificationsTab" role="tab" data-toggle="tab">{{ 'product.addProduct.productSpecificationsTab'|trans }}</a></li>
    </ul>

    {{ form_errors(form) }}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="productGeneralInfoTab">
            {{ form_row(form.title) }}
            {{ form_row(form.categories) }}
            {{ form_row(form.price) }}
            {{ form_row(form.originalPrice) }}
            
            {{ form_row(form.image) }}
            {{ form_row(form.available) }}
            {{ form_row(form.description) }}
            {{ form_row(form.images) }}
        </div>
        <div role="tabpanel" class="tab-pane" id="productSpecificationsTab">
            {{ form_row(form.specifications) }}
        </div>
    </div>    
{% endblock %}