{#
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Saman</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if isSecond is defined and isSecond %}
                    <li><a href="{{ path('saman_cms_page_index') }}">{{ 'icon.home'|icon }} CMS Home</a></li>
                {% endif %}
                <li><a href="{{ path('saman_pg_index') }}">{{ 'module.playground.icon'|icon }} Playground</a></li>
                <li><a href="{{ path('saman_shopping_customer_profile') }}">My Profile</a></li>
                <li><a href="{{ app.request.getSchemeAndHttpHost() }}/front">AngularJS & Symfony</a></li>
                <li><a href="{{ app.request.getSchemeAndHttpHost() }}/api/doc">Symfony API Doc</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href='{{ path('saman_app_display_dashboard') }}'>{{ 'icon.setting'|icon }} Admin</a></li>
                {% if app.user is not null %}
                    <li><a href="{{ path('saman_logout_web') }}">{{ 'icon.logout'|icon }} {{ 'action.logout'|trans }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
#}