<!DOCTYPE html>
<html lang="en">
<head>
    {% include "::web/_meta.html.twig" %}
    <title>{{ base_title|default('') }} - {% block title %}{{ title }}{% endblock %}</title>    
    {% include "::web/_asset.html.twig" %}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include "::web/_navbar.html.twig" with {isNotIndex: true} %}
    <section id="order" class="">
        <div class="container section-continer-other">
            <div class="row margin-top-50">
                <div class="col-md-10 col-md-offset-1">
                    {% if saman_displayFullView %}
                        <h3>
                            {% block pageTitle %}
                                {% if pageIcon is defined %}{{ pageIcon|icon }}{% endif %} {{ title }}
                            {% endblock %}
                        </h3>
                    {% else %}
                        <b>{{ title }}</b>
                    {% endif %}
                    
                    {% block pageBody %}
                        <p>
                        {% if content is defined %}
                            {{ content|raw }}
                        {% else %}
                            <center>Whoops! Page not found</center>
                        {% endif %}
                        </p>
                    {% endblock %}
                    </p>
                </div>            
            </div>            
        </div>
    </section>
    {% include "::web/_footer.html.twig" %}
    {% include "::web/_js.html.twig" %}
    {% block script %}{% endblock %}
    </body>
</html>