<!DOCTYPE html>
<html lang="en">
<head>
    {% include "::web/_meta.html.twig" %}
    <title>Grayscale - Start Bootstrap Theme</title>
    {% include "::web/_asset.html.twig" %}
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include "::web/_navbar.html.twig" with {isIndex: true} %}
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="theme/img/a1.jpg" alt="...">
                <div class="carousel-caption saman-carousel">
                    <div class="intro">
                        <h2 class="brand-heading hidden-xs hidden-sm">Order Your Custom Design Handmade Persian Carpet</h1>
                        <p class="intro-text hidden-xs">
                            We handmade your carpet based on your design, whether its an abstract painting, 
                            a family picture a company logo or a pattern of your choice from our gallery.
                        </p>
                        <a href="#order" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="theme/img/a2.jpg" alt="...">
                <div class="carousel-caption saman-carousel">
                    <div class="intro">
                        <h2 class="brand-heading hidden-xs hidden-sm">Your Unique Master Piece</h1>
                        <p class="intro-text hidden-xs">
                            Your carpet can become a painting frame on your wall, a family picture in your room, a wedding 
                            present to your friend, or your company logo to carry your passion for quality to 
                            your business partners.
                        </p>
                        <a href="#gallery" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="theme/img/a3.jpg" alt="...">
                <div class="carousel-caption saman-carousel">
                    <div class="intro">
                        <h2 class="brand-heading hidden-xs hidden-sm">How We Handmade Your Custom Design Carpet</h1>
                        <p class="intro-text hidden-xs">
                            Our intelligent software 
                            turns your design into a recipe for a handmade carpet. Then Your carpet will be 
                            woven by the skilful hands of our craftsmen with best organic materials. 
                        </p>
                        <a href="#order" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>        

    
    <!-- Order Section -->
    <section id="order" class="text-center">
        <div class="container section-continer">
            <div class="row">
                <div class="col-md-12">
                    <h2>Order your Custom Design Handmade Persian Carpet</h2>
                    <div class="row">
                        <div class="col-md-6 margin-top-10">
                            <a href="{{ path('saman_shopping_order_add') }}" class="btn btn-default btn-xxlg">Make your Order</a>
                            <p class="margin-top-10 no-padding">
                                We handmade your carpet based on your design, whether its an abstract painting, 
                                a family picture a company logo or a pattern of your choice from our gallery. <br>
                            </p>
                            <div class="row no-padding hidden-xs">
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <img src="theme/img/step1.png"  alt="Google Map" /><br>
                                    Upload Photo
                                </div>    
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <img src="theme/img/step2.png"  alt="Google Map" /><br>
                                    Design Carpet
                                </div>    
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <img src="theme/img/step3.png"  alt="Google Map" /><br>
                                    Payment
                                </div>    
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <img src="theme/img/step4.png"  alt="Google Map" /><br>
                                    Delivery
                                </div>    
                            </div>    
                        </div>    
                        <div class="col-md-6 margin-top-20">
                            <img src="theme/img/carpetmaking.png" class="img-thumbnail" alt="Google Map" /><br>
                            How we handmade your carpet
                        </div>    
                    </div>    
                </div>            
            </div>            
        </div>
    </section>

    <!-- Gallery Section -->
    <section id="gallery" class="text-center">
        <div class="container order-section section-continer">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Our Gallery</h2>
                <p>
                    We believe our custom handmade Persian carpet collection offers perfect choices 
                    that would creatively match your style and individuality. Each knot and pieces 
                    is made by hand and passion. Depending on your design, your carpet can 
                    become a painting frame on your wall, a family picture in your room, a wedding 
                    present to your friend, or your company logo to carry your passion for quality to 
                    your business partners. If you still prefer traditional Iranian designs, you can
                    browse our extensive collection of royalty-free designs, ready to be ordered.  
                </p>

                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <a href="" title=""><img src="theme/img/c1.png" alt="..."><br>Gallery 1</a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <a href="" title=""><img src="theme/img/c2.png" alt="..."><br>Gallery 2</a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <a href="" title=""><img src="theme/img/c3.png" alt="..."><br>Gallery 3</a>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <a href="" title=""><img src="theme/img/c5.png" alt="..."><br>Gallery 4</a>
                    </div>
                </div>                      
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="text-center">
        <div class="container section-continer">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h2>About Us</h2>
                    <p>
                        We are a family of designers and craftsmen working together to revive 
                        the most iconic product of the Iranian art and culture, the Persian carpet. You 
                        can mix the authenticity of the handmade Persian carpets with any design of your 
                        own. Your carpet will be woven by skilful hands of our craftsmen, with knots of 
                        silk and wool on strings of love and passion. The product is a masterpiece with 
                        quality of ancient persian carpets and the unique design of your own taste.
                    </p>
                    <img src="theme/img/zibaf.png" alt="Zibaf">
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
    
    <!-- Story Section -->
    <section class="text-center">
        <div class="story-section section-continer">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Our Story</h2>
                    <p>
                        We began our work with a passion in art representing the roots of our rich 
                        culture and history of ancient Iran. We are a group of artists and creators 
                        working as a family who enjoy their work and pledge their efforts towards 
                        customers’ satisfaction and producing creative eye-catching designs that stand 
                        out from its competitors in the industry. Our unique online customization 
                        facility is developed to follow customers’ insights as closely as possible 
                        and bring their ideas into life in the most flawless and perfect way.
                    </p>    
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section>    
    
    <!-- Contact Section -->
    <section id="contact" class="text-center">
        <div class="container section-continer">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h2>Contact Zibaf</h2>
                    <p>We are located in Tabriz, IRAN, one of the world’s greatest hubs for Persian handmade carpet and rug industry.</p>

                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/zibaf" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://facebook.com/zibaf" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/zibaf" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                        </li>
                    </ul>
                    <address>
                        <strong>Address</strong><br>
                            Unit 2, Tech Hub Tabriz Islamic Art University<br>
                            Azadi Street, Tabriz - Iran<br>
                            Postcode: 5164736931<br>
                        <a href="mailto:info@zibaf.com">info@zibaf.com</a>
                    </address>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
    {% include "::web/_footer.html.twig" %}
    {% include "::web/_js.html.twig" %}
    </body>
</html>
{#
{% set title = title|trans %}
<!DOCTYPE html>
<html class="ng-scope" ng-app="myApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% include "::_asset.html.twig" %}
    </head>
    <body>
        <div class="container">
            {% include '::web/_navbar.html.twig' %}
                        
            <div class="row margin-top-20">
                <div class="col-sm-9">
                    {% include '::web/user/_navigator.html.twig' %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% if content is defined %}
                                <div class="page-header">
                                    <h3>{{ title }}</h3>
                                </div>
                                <p>{{ content|raw }}</p>
                            {% else %}
                                {{ 'Whoops! Page not found'|warningAlert }}
                            {% endif %}
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </body>
</html>
#}