{% extends "::web/content.html.twig" %}

{% set title = 'word.logIn'|trans %}
{% set pageIcon = 'icon.logIn' %}

{% block pageBody %}
    {% if error %}
        <div class="margin-bottom-20">
            <h5><span class="text-danger">{{ 'icon.alert.warning'|icon  }} {{ 'word.warning'|trans }}! {{ error.message }}</span></h5>
        </div>
    {% endif %}
    
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
            <form action="{{ path(action) }}" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{ 'word.emailAddress'|trans }}</label>
                    <input type="email" id="username" required="required" name="_username" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">{{ 'word.password'|trans }}</label>
                    <input type="password" class="form-control" required="required" id="password" name="_password" placeholder="Password">
                </div>
                {#
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> {{ 'word.keepMeLoggedIn'|trans }}
                    </label>
                </div>
                #}
                {#<button id="form-submit-login" class="btn btn-primary ladda-button" type="submit" data-style="expand-left"><span class="ladda-label">{{ 'word.logIn'|trans }}</span></button>#}
                <button class="btn btn-primary hidden-xs form-submit-login" type="submit" style="padding-left: 20px; padding-right: 20px;"><span>{{ 'word.logIn'|trans }}</span></button>
                <a class="hidden-xs margin-left-10" id="createAccount" href="{{ path('saman_shopping_customer_joinus') }}">{{ 'word.createAccount'|trans }}</a>

                <button class="btn btn-primary btn-block visible-xs form-submit-login" type="submit"><span>{{ 'word.logIn'|trans }}</span></button>
                <div class="margin-top-10 visible-xs">
                    <a id="createAccount" href="{{ path('saman_shopping_customer_joinus') }}">{{ 'word.createAccount'|trans }}</a>
                </div>    
                {% if error %}
                    <div class="margin-top-10">
                        <a id="createAccount" href="{{ path('saman_shopping_customer_joinus') }}">{{ 'word.forgotPassword'|trans }}</a>
                    </div>    
                {% endif %}
            </form>        
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12"><p class="margin-top-10">{{ 'message.signUpMessage'|trans }}</p></div>    
    </div>    

    <script type="text/javascript">
        $(document).ready(function(){
            $('.form-submit-login').click(function(e){
                var button = $(this);
                var form = button.closest('form');
                if (form.isValid()) {
                    button.addClass('disabled btn-loading');
                }
            });
            {#
            Ladda.stopAll();
            $('#form-submit-login').click(function(e){
                var form = $(this).closest('form');
                if (!form.isValid()) {
                    Ladda.stopAll();
                }
            });
            #}
        });
    </script>
{% endblock %}