{% extends "SamanAppearanceBundle::layout.html.twig" %}

{% set twig_url_navigation_add = path('saman_appearance_admin_navigation_add') %}
{% set twig_url_navigations = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'headless': true})) %}
{# First form for adding new navigation #}
{% set twig_form_navigation_name = 'saman_appearance_navigation_form' %}
{% set twig_form_link_name = 'saman_appearance_link_form' %}
{# Second form for edditing navigation settings #}
{% set twig_form_navigation_cont = 'navigations-form-container' %}
{% set twig_cont_page = 'page-container' %}
{% set twig_cont_navigations = 'navigations-list-container' %}
{% set twig_cont_navigation = 'navigation-view-container' %}

{% block header %}
    <button data-url="{{ twig_url_navigation_add }}" type="button" class="btn btn-primary btn-sm action-add-navigation" data-toggle="modal" data-target="#{{ twig_form_navigation_cont }}">{{ 'icon.add'|icon }}  {{ 'action.addNewItem'|trans }}</button>
{% endblock %}

{% block body %}
    <div class="modal fade" id="{{ twig_form_navigation_cont }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    <div class="modal fade" id="{{ twig_cont_navigation }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

    <div id="{{ twig_cont_navigations }}">
        {{ navigationsView|raw }}
    </div>
{% endblock %}

{% block footer %}{% endblock %}
    
{% block script %}
    {% include 'SamanAppearanceBundle:Navigation:js/index.html.twig' %}
{% endblock %}