{% extends "::twig/modal.html.twig" %}

{% set modalTitle = page.title %}
{% set modalLogo = page.logo %}

{% block body %}
    <div class="row">
        <div class="col-md-12">{{ page.getVisibilityLogo|icon }}</div>
    </div>

    <div class="row">
        <div class="col-md-12">{{ 'icon.url'|icon }} {{ 'word.url'|trans }}: {{ page.url }}</div>
    </div>
    
    <div class="row">
        <div class="col-md-12">{{ page.content|raw }}</div>
    </div>
{% endblock %}